* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}

.top-nav {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 10px;
}

.top-nav a {
  color: black;
  text-decoration: none;
}

.top-nav a:hover {
  color: #FBC740;
}

form.search-bar input[type="text"] {
  background: #f1f1f1;
  border: 1px solid grey;
  font-size: 17px;
  margin: 30px 0px;
  padding: 10px;
  width: 80%;
  max-width: 660px;
}

form.search-bar button {
  background: #2196f3;
  border: 1px solid grey;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  width: 20%;
  max-width: 55px;
  margin: 30px 0px;
  padding: 10px;
}

form.search-bar button:hover {
  background: #0b7dda;
}

form.search-bar::after {
  clear: both;
  content: "";
  display: table;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  margin: auto;
  width: 80%;
  max-width: 760px;
}

header {
  background-color: #fff;
  color: #1a71b8;
  padding: 10px;
  text-align: center;
}

article {
  background-color: #fff;
  box-shadow: 0 2px 8px 0 #a6a6a6;
  display: inline-block;
  margin: 40px 25px 20px 25px;
  max-width: 325px;
  padding: 20px;
  width: 50%;
}

article.newest-article {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 760px;
  width: 95%;
}

article:hover {
  box-shadow: 0 4px 16px 0 #a6a6a6;
}

article p {
  margin: 0 0 1em;
}

section.post-head small {
  border-bottom: solid 1px #eee;
  display: block;
  margin: 0 0 20px;
  padding: 0 0 20px;
}

section.post-foot {
  border-top: solid 1px #eee;
  font-size: 14px;
  margin: 20px 0 0;
  padding: 20px 0 0;
}

.post-category a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #FBC740;
  text-decoration: none;
}

.post-category a:hover {
  text-decoration: underline;
}

footer {
  color: #aaa;
  font-size: 14px;
  text-align: center;
}
