body {
    width: auto;
    margin: auto;
    text-align: left;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 19px;
    background-color: #e7f4f7;
}

.banner {
    position: relative;
    width: 100%;
    padding: 25px 40px 25px 40px;
    text-align: center;
    background-color: #266875;
    clear: both;
    margin-bottom: 50px;
}

.textblock {
    width: 80%;
    max-width: 760px;
    position: absolute;
    margin-left: 220px;
    background-color: #fff;
    padding: 70px;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    color: #e7f4f7;; 
}

h2 {
    font-size: 38px;
    line-height: 32px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    color: #225d68;
}

h3 {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    color: #4ca3b0;
}

.banner1 {
    color: #225d68;
    background-color: #e7f4f7;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #4ca3b0;
}

a:hover {
    color: #387781;
}

form {
    display: block;
    text-align: right;
    float: left;
    margin: 0;
    padding: 3px 13px 0 0;
}

img {
    position: relative;
    margin-left: 80px;
}

strong {
    color: #225d68;
}




