* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #7d2ae8;
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: center;
}

div {
  display: block;
}

form {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
  color: #999;
  display: block;
  margin-bottom: 15px;
  padding: 30px;
  text-align: left;
}

.signup-form {
  margin: 40px auto 0;
  padding: 30px 0;
  width: 400px;
}

h2 {
  color: #333;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 0;
}

p {
  display: block;
  margin-bottom: 20px;
}

input {
  margin-top: 20px;
  outline: none;
}

.form-control {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-color: #e1e1e1;
  border-radius: 4px;
  color: #495057;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 38px;
  line-height: 1.5;
  padding: 6px 12px;
  width: 100%;
}

.form-check-label {
  font-size: 15px;
  font-weight: normal;
}

input[type="checkbox"] {
  box-sizing: border-box;
  margin: 25px 0 25px 0;
}

.btn-primary {
  background: #7d2ae8;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  min-width: 140px;
  padding: 8px 16px;
}

.btn-primary:hover {
  background-color: #6c17d9;
}

.form-check-label {
  font-size: 15px;
  font-weight: normal;
}

.form-check-label a {
  color: #7d2ae8;
  text-decoration: none;
}

.form-check-label a:hover {
  text-decoration: underline;
}

.text-center a {
  color: #fff;
}

.text-center a:hover {
  text-decoration: none;
}
